amqp==5.1.0
async-timeout==4.0.2
billiard==3.6.4.0
Brotli==1.0.9
celery==5.2.6
certifi==2021.10.8
charset-normalizer==2.0.12
click==8.1.2
click-didyoumean==0.3.0
click-plugins==1.1.1
click-repl==0.2.0
Cython==0.29.28
dash==2.3.1
dash-bootstrap-components==1.1.0
dash-core-components==2.0.0
dash-html-components==2.0.0
dash-table==5.0.0
dash-uploader==0.6.0
Deprecated==1.2.13
dill==0.3.4
diskcache==5.4.0
faiss-cpu==1.7.2
Flask==2.1.1
Flask-Compress==1.11
hdbscan==0.8.28
idna==3.3
importlib-metadata==4.11.3
itsdangerous==2.1.2
Jinja2==3.1.1
joblib==1.1.0
kombu==5.2.4
llvmlite==0.38.0
MarkupSafe==2.1.1
multiprocess==0.70.12.2
numba==0.55.1
numpy==1.21.5
orjson==3.6.7
packaging==21.3
pandas==1.4.2
Pillow==9.1.0
plotly==5.7.0
prompt-toolkit==3.0.29
psutil==5.9.0
pynndescent==0.5.6
pyparsing==3.0.7
python-dateutil==2.8.2
pytz==2022.1
redis==4.2.2
requests==2.27.1
scikit-learn==1.0.2
scipy==1.8.0
six==1.16.0
tenacity==8.0.1
threadpoolctl==3.1.0
torch==1.11.0
torchvision==0.12.0
tqdm==4.64.0
typing_extensions==4.1.1
umap-learn==0.5.2
urllib3==1.26.9
vine==5.0.0
wcwidth==0.2.5
Werkzeug==2.1.1
wrapt==1.14.0
zipp==3.8.0
